<html>
    <body>
        <form method="post">
            Name : <input type="text" name="txt1" required>
            Mobile : <input type="text" name="txt2" required>
            Email : <input type="text" name="txt3" required>
            Password : <input type="text" name="txt4" required>
            <input type="submit">
        </form>
    </body>
</html>