A Value is <%= mya %> <br>
B Value is <%= myb %> <br>
C Value is <%= myc %> <br>

<% if(myc==30){ %>
        <p style="background-color: yellowgreen;" >C is 30</p>
<%}else{ %>
        <p style="background-color: red;" >C is not 30</p>
<%} %>